{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>Delete Blog Post</h2>
    <p>Are you sure?</p>
    <form action="" method="post" class="abstand">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    <a href="{% url 'list' %}">Back</a>
</body>
</html>
