{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{product.name}} - Blog detail</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="insgesamt">
        <center>
            <h1>{{product.user}}</h1>
            <div>
                <img src="{{product.image.url}}" alt="{{product.name}}" width="200"/>
            </div>
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
            <a href="{% url 'edit' pk=product.id %}">Edit</a>
            <a href="{% url 'delete' pk=product.id %}">Delete</a>
        </center>
    </div>
    <br/>
    <h2>Comments</h2>
    {% for comment in comments %}
        <div id="comment">
            <strong>{{comment.user_name}}</strong>: {{comment.text}}
            <small>{{comment.created_time}}</small>
        </div>
    {%empty%}
        <p>No comments yet!</p>
    {% endfor %}
    <div id="form" class="form-a">
        <h3>Add a comment 😎</h3>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Save</button>
        </form>
    </div>
    <a href="{% url 'list' %}">Back to Blog home page</a>
</body>
</html>
