{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <!-- message here -->
    {% if messages %}
    {% for message in messages %}
    <script>
        alert({{message}});
    </script>
    {% endfor %}
    {% endif %}
</head>

<body>
    <header>
        <div>
            <div class="navbar-links">
                <a href="{% url 'list' %}">Home</a>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'register' %}">Sign up</a>
                <a href="{% url 'login' %}">Log in</a>
                {% endif %}
            </div>
        </div>
    </header>

    <div>
        <div>
            {% block start %}
                {% if user.is_authenticated %}
                <h1 id="start">Welcome back {{ user.username }}!</h1>
                {% else %}
                <center><h1 id="start">Please log in</h1></center>
                {% endif %}
            {% endblock %}
        </div>
    </div>
</body>

</html>
